@import url('../myfonts/BebasNeue-Regular');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    background-color: #f9003d;
    width: 100%;
    height:60px; /*Define a altura de um elemento*/
}

.menu {
    width: 1200px;
    height: 60px;
    /*background-color:#ccc;*/
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.menu ul{
    width: 600px;
    height: 60px;
    list-style-type: none;/*remove o estilo da lista*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue',cursive;
    font-size: 19px;
    padding: 18px 50xp;
}

.menu a:hover{
    background-color: cornflowerblue;
    text-decoration: underline;

}


    
.banner{
    width: 100%;
    height: 740px;
    background-image: url("../imagens/imagem-fundo-banner.jpg");
    background-size: cover;
    background-position: bottom;

}

.content{
    width: 1200px;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    margin:auto;
   
}

.alinhando-abaixo{
    display: flex;
    align-items: flex-end;
}

.banner-text{
    width: 560px;
    height: 550px;
    /*background-color: rgba(255, 255,0, 0.39);*/
}

.banner-text h1{
    font-size: 60px;
    font-family: 'Bebas Neue',cursive;
    color: #fff;
    border-bottom: solid 2px #ffaf00;
    padding-bottom: 20px;

}    
.banner-text p{
    font-family: 'Courrier Prime', monospace;
    font-size: 45px;
    text-transform: uppercase;
    color: #f9003d;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.banner-text span{
    margin-left: 15px;
}

.sobre{
    width: 100%;
    height: 800px;
    background-color: #080324;

}

.sobre h2{
    font-family: 'Bebas Neue',cursive;
    color:#f9003d;
    font-size: 64px;
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;    
}

.artigo-sobre{
    display: flex;
    justify-content: space-between;
}

.artigo-sobre img{
    width:500px;
   

}

.artigo-text-sobre {
    width: 600px;
    color: #fff;
}

.artigo-text-sobre h3:nth-child(1){
    color: red;
    font-family:'Courier Prime',monospace;
    font-size:24px;
    text-transform: uppercase;
}

.artigo-text-sobre h3:nth-child(2){
    color:#ffaf00;
    font-family:'Bebas Neue',cursive;
    font-size:64px;
}

.artigo-text-sobre p{
    font-family:'Opens Sans',sans-serif;
    font-size:18px;
    line-height: 28px;
}

.endereco{
    width: 100%;
    height: 500px;
    color: yellow;
    background-image: url(../imagens/imagem-fundo-ranking.jpg);
    background-size: cover;
    background-position: center;
}
.endereco h2{
    font-size: 64px;
    font-family: 'Bebas Neue',cursive;
    color: #ffaf00;
}
.end-text{
    width: 900px;
    height: 210px;
    background-color: #010010;
    border: solid 2px #340b65;
    position: relative;
    
}
.end-text p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #a259f7;
    margin-left: 20px;
}
.end-text img{
    position: absolute;
    right: 20px;
    top: -80px;
}
.alinhamento-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    width: 100%;
    height: 200px;
    background-image: url(../imagens/imagem-fundo-info.jpg);
    background-size: cover;
    font-family: 'Courier Prime' monospace;
    text-transform: uppercase;
}

.info h4{
    color:#fff;
    font-size: 24px;
}

.info p{
    width: 200px;
    color: #a259f7;
    font-size: 28px;
    border:solid 1px #a259f7;
    text-align: center;
    padding: 1em 0;
}
.info-flex{
    display: flex;
    justify-content: space-between;

}

.rodape{
    width: 100%;
    height: 80px;
    background-color: #f9003d;
    color: #fff;
    font-family:'Opens Sans','sans-serif';
    font-size: 18px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1199px){
    .sobre{
        height: auto;
        padding-bottom: 4em;
    
        }
    .sobre .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .artigo-sobre{
        justify-content: center;
    }
    .artigo-sobre img{
        width: 100%;
        max-width: 850px;
        margin-bottom: 2em;

    }
    .artigo-text-sobre{
        width: 800px;
    }
}

@media screen and (max-width:991px){
    .artigo-sobre img{
        max-width: 700px;
    }
    .artigo-text-sobre{
        width: 90%;
    }
    .info-card{
        text-align: center;

    }
    .info p{
        width: 220px;
    }
    .end-text{
        width: 700px;
        flex-direction: column;
        height: auto;
        padding: 2em 0;
    }
    .endereco{
        height: auto;
        padding-bottom: 2em;
    }
    .end-text img{
        position: unset;
        margin-top: 2em;
    }
}
@media screen and (max-width: 767px){
    .menu{
        width: 100%;
    }
    .meusLinks{
        width: 100%;
        height: 350px;
        background-color: #010010;
        position: absolute;
        top: 60px;
    }
}
    